@model IEnumerable<sale.ACCOUNT>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Import Account", "ImportAccount")
</p>
<form action="/Admin/ExportListCustomer">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>

                @if (item.Gender == true)
                {
                    <td>
                        Male
                    </td>

                }
                else
                {
                    <td>
                        Female
                    </td>
                }

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }
       

    </table>
   
        <input type="submit" value="Export to Excel" class="button" />
        @*<button type="button" onclick="ExportCustomer()">Xuất Excel</button>*@
</form>
